.stay-details-section {
    .amenities-screen {
        position: absolute;
        top: 0;
        inset: 0;
        height: 9999px;
        width: 100%;
        background-color: rgba(128, 128, 128, 0.26);
        z-index: 10;
        pointer-events: all;
    }
}
.amenities-modal-wrapper {
    position: fixed;
    top: 0;
    transform: translateY(20%);
    width: 100%;
    height: 700px;
    z-index: 17;
    .amenities-modal-container {
        background-color: #fff;
        height: 500px;
        width: 50%;
        padding-inline-start: 20px;
        border-radius: 8px;
        .close-modal-btn-container {
            height: 70px;
            .close-btn {
                height: 32px;
                width: 32px;
                font-size: 1rem;
                & :hover {
                    cursor: pointer;
                }
            }
        }
        .amenities-modal-title {
            h4 {
                padding-bottom: 24px;
                line-height: 1.875rem;
                font-size: 1.375rem;
            }
        }
        .amenities-list-container {
            height: 350px;
            overflow-y: scroll;
            .amenities-list {
                padding: 0;
                height: 250px;
                flex-direction: column;
                flex-wrap: wrap;
                .amenity-item {
                    height: 50px;
                    align-items: center;
                    justify-items: flex-start;
                    .amenity-icon-container {
                        width: 50px;
                        font-size: 1rem;
                        margin-inline-end: 5px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
