// @font-face {
//     font-family: "circular";
//     src: url(../../fonts/airbnb-new/AirbnbCerealLight.woff);
//     font-weight: 300;
//     font-style: normal;
// }

@font-face {
    font-family: circular-light;
    src: url(../../fonts/airbnb-new/AirbnbCerealLight.woff) format("woff2");
    font-weight: 300;
    font-style: normal;
}

// @font-face {
//     font-family: circular-medium;
//     src: url(../../fonts/airbnb-new/AirbnbCerealMedium.woff);
// }
@font-face {
    font-family: circular-medium;
    src: url(../../fonts/airbnb-new/AirbnbCerealMedium.woff) format("woff2");
    font-style: normal;
}
// @font-face {
//     font-family: circular-Bold;
//     src: url(../../fonts/airbnb-new/AirbnbCerealBold.woff);
// }
@font-face {
    font-family: circular-bold;
    src: url(../../fonts/airbnb-new/AirbnbCerealBold.woff) format("woff2");
    font-style: normal;
}
@font-face {
    font-family: circular-book;
    src: url(../../fonts/airbnb-new/AirbnbCerealBook.woff) format("woff2");
}
@font-face {
    font-family: circular-extra;
    src: url(../../fonts/airbnb-new/AirbnbCerealExtraBold.woff) format("woff2");
}
@font-face {
    font-family: circular;
    src: url(../../fonts/AirbnbCerealLight.woff) format("woff2");
}
