// Colors
// Site Background
$clr1: #fff;
// Font Color
$clr2: #222;
// Font Color
$clr3: #6f019c;
// Header color
$clr4: #f7f7f7;
// Muted Font
$clr5: #7a7a7a;
// Logo color
$clr6: #ff5a5f;
// Background color host
$clr7: #232323;
// Notifications/Reviews rating
$clr8: #ff385c;
//preview colors
$clr9: #717171;
$clr10: #484848;
$clr11: #222222;

// Bootstrap Colors
$bsPrimary: #0275d8;
$bsSuccess: #5cb85c;
$bsInfo: #5bc0de;
$bsWarning: #f0ad4e;
$bsDanger: #d9534f;
$bsInverse: #292b2c;
$bsFaded: #f7f7f7;
// Breakpoints
$mobile-breakpoint: 740px;
$narrow-breakpoint: 930px;
$normal-breakpoint: 1110px;
$wide-breakpoint: 1400px;
$extra-wide-breakpoint: 1600px;
